@import '../../variables';


.footerOption{
    background-color:$primaryColor;
    border-radius: 8px;
    border:$primaryBorder;
    display: flex;
    align-items:center;
    padding: 0 20px;
    height: 56px;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    &.active {
        background: $activeColor;
      }
    img{
        &.upArrow{
            margin-left: 14px;
        }
    }
}